{% extends "base.html" %}
{% load menu_tags cms_tags sekizai_tags %}
{% load i18n %}
{% block content %}
    <!-- features -->
    <div id="contact" class="contact_page">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>{% trans "Contact iSells" %}</span>
                <hr class="right visible-desktop">
            </h2>

            <div class="row map">
                <div class="span12">
                    <div class="gmaps">
                        {% if LANGUAGE_CODE == 'ru' %}
                            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=202937623736357871184.0004def59f61c473f3b01&amp;ie=UTF8&amp;t=m&amp;ll=49.598542,34.502456&amp;spn=0.006676,0.013733&amp;z=16&amp;output=embed"></iframe><br />
                        {% else %}
                             <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ll=50.095807,14.33939&amp;spn=0.014316,0.034418&amp;t=m&amp;z=15&amp;msa=0&amp;msid=202937623736357871184.0004df034425f968f9508&amp;output=embed"></iframe><br />
{#                            <iframe style="width: 100%; height: 100%; border: none;" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Silicon+Valley,+United+States&amp;aq=1&amp;oq=sillicon+valley&amp;sll=31.428663,-100.085449&amp;sspn=5.642034,9.876709&amp;ie=UTF8&amp;hq=&amp;hnear=Silicon+Valley&amp;ll=37.372517,-122.03476&amp;spn=0.020534,0.038581&amp;t=m&amp;z=14&amp;output=embed"></iframe>#}

                        {% endif %}
                    </div>
                    <h3>
                        {%  trans "Contact us about anything related to iSells. We'll do our best to get back to you as soon as possible, but responses could take up to 48 hours. Don't hesitate." %}
                    </h3>
                </div>
            </div>

            <div class="row form">
                <div class="span6">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputName">{% trans "Name" %}</label>

                            <div class="controls">
                                <input type="text" class="span4" id="inputName">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">{% trans "Email" %}</label>

                            <div class="controls">
                                <input type="text" class="span4" id="inputEmail">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPhone">{% trans "Phone" %}</label>

                            <div class="controls">
                                <input type="text" class="span4" id="inputPhone">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputCity">{% trans "City" %}</label>

                            <div class="controls">
                                <input type="text" class="span4" id="inputCity">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputComment">{% trans "Comment" %}</label>

                            <div class="controls">
                                <textarea class="span4" id="inputComment" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls action">
                                <button type="submit" class="btn">{% trans "Send" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span5 offset1">
                    <div class="address">
                        <h3>{% trans "Address" %}</h3>

                        <p>
                            {% trans "CUBE Office Center Prague 6 <br>Evropská 178 <br>160 00 Praha 6" %}
                        </p>

                        <!-- <div class="info">
                            <i class="contact phone"></i>
                            1 817 274 2933
                        </div> -->

                        <div class="info">
                            <i class="contact email"></i>
                            {% trans "info@isells.eu" %}
                        </div>
{#                        <hr>#}
{#                        <h3>{% trans "Social media" %}</h3>#}
{##}
{#                        <div class="social">#}
{#                            <a href="#"><i class="social tw"></i></a>#}
{#                            <a href="#"><i class="social fb"></i></a>#}
{#                            <!-- <a href="#"><i class="social dunno1"></i></a> -->#}
{#                            <a href="#"><i class="social in"></i></a>#}
{#                           <!-- <a href="#"><i class="social gp"></i></a> -->#}
{#                            <a href="#"><i class="social pin"></i></a>#}



                           <!-- <a href="#"><i class="social tumblr"></i></a>
                            <br>
                            <a href="#"><i class="social wp"></i></a>
                            <a href="#"><i class="social yt"></i></a>
                            <a href="#"><i class="social vim"></i></a>
                            <a href="#"><i class="social dunno2"></i></a>
                            <a href="#"><i class="social dunno3"></i></a>
                            <a href="#"><i class="social rss"></i></a>
                            <a href="#"><i class="social dunno4"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}